{% block book_card %}
    <div class="card h-100">
        <img src="{{ book.cover_url }}" alt="{{ book.title }}" class="card-img-top">

        <div class="card-body">
            <h5 class="card-title"> {{ book.title }} </h5>
            <p class="card-text">
                {{ book.authors | capitalize }} . {{ book.year }}
            </p>
            <p class="card-text"> {{ book.description }} </p>
        </div>

        <div class="card-footer">
            <form method="post">
                <button class="btn btn-primary w-100">
                    Add to library
                </button>
            </form>
        </div>
    </div>
{% endblock %}