{% block book_card %}
    <div class="card h-100">
        <img src="{{ book.cover_url }}" alt="{{ book.title }}" class="card-img-top">

        <div class="card-body">
            <h5 class="card-title"> {{ book.title }} </h5>
            <p class="card-text">
                {{ book.authors | capitalize }} . {{ book.year }}
            </p>
            <p class="card-text"> {{ book.description }} </p>
        </div>

        <div class="card-footer">
            <form method="post">
                <input type="hidden" name="api_id" value="{{ book.api_id }}">
                <input type="hidden" name="source" value="{{ book.source }}">
                <input type="hidden" name="title" value="{{ book.title }}">
                <input type="hidden" name="media_type" value="{{ media_type }}">
                <input type="hidden" name="authors" value="{{ book.authors }}">
                <input type="hidden" name="description" value="{{ book.description }}">
                <input type="hidden" name="release_year" value="{{ book.release_year }}">
                <input type="hidden" name="cover_url" value="{{ book.cover_url }}">
                <button class="btn btn-primary w-100">
                    Add to library
                </button>
            </form>
        </div>
    </div>
{% endblock %}