{% block library_card %}
    <div class="card h-100">
        <img src="{{ item.cover_url }}" alt="{{ item.title }}" class="card-img-top">

        <div class="card-body">
            <h5 class="card-title"> {{ item.title }} </h5>
            {% if item.type == "book" %}
                <p class="card-text">
                    {{ item.type | capitalize }} . {{ item.authors }} . {{ item.release_year }}
                </p>
            {% else %}
                <p class="card-text">
                    {{ item.type | capitalize }} . {{ item.release_year }}
                </p>
            {% endif %}
            <p class="card-text"> {{ item.description }} </p>

            <!-- Status -->
            <p class="status">Status: {{ item.status }}</p>
            <!-- Rating -->
             <p class="status">Your Rating: {{ item.rating }} </p>
        </div>

        <div class="card-footer">
            <form method="get" action="/library/edit">
                <input type="hidden" name="api_id" value="{{ item.api_id }}">
                <input type="hidden" name="source" value="{{ item.source }}">
                <button class="btn btn-primary w-100 mb-2">
                    Edit
                </button>
            </form>
            <form method="post" action="/library/delete">
                <input type="hidden" name="api_id" value="{{ item.api_id }}">
                <input type="hidden" name="source" value="{{ item.source }}">
                <button class="btn btn-danger w-100">
                    Remove
                </button>
            </form>
        </div>
    </div>
{% endblock %}