{% extends 'auth_layout.html' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="container auth-container">
        <div class="auth-header">
            <img src="{{ url_for('static', filename='images/DashList_logo.png')}}" alt="DashList Logo" class="auth-logo">
            <p>Track your favourite media in one place</p>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show mt-3">
                        {{ message }}
                        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="auto-switch">
            <a href="/login" class="switchBtn">Login</a>
            <span>|</span>
            <span class="active">Register</span>
        </div>

        <form action="/register" method="post">
            <div class="mb-4">
                <label>Username</label>
                <input autocomplete="off" autofocus class="form-control" name="username" type="text"></input>
            </div>
            <div class="mb-4">
                <label>Email</label>
                <input class="form-control" name="email" type="email"></input>
            </div>
            <div class="mb-4">
                <label>Password</label>
                <input class="form-control" name="password" type="password"></input>
            </div>
            <div class="mb-4">
                <label>Confirm Password</label>
                <input class="form-control" name="confirmation" type="password"></input>
            </div>
            <button class="btn btn-primary w-100" type="submit">Register</button>
        </form>

        <p class="auth-footer">
            Already have an account?
            <a href="/login">Login Here</a>
        </p>
    </div>
{% endblock %}