{% extends 'auth_layout.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <!-- Nav Bar -->
    {% include "components/navbar.html" %}

    <main>
        <h1 class="text-center my-4">Welcome {{ content.name | capitalize}}</h1>
        <div class="container py-4">
            <div class="row g-4">

                <div class="col-md-6">
                    {% set title = "Total Media" %}
                    {% set value = content.total_media %}
                    {% set icon = "bi-collection-play" %}
                    {% include "components/stat_card.html" %}
                </div>
                <div class="col-md-6">
                    {% set title = "Movies" %}
                    {% set value = content.movies %}
                    {% set icon = "bi-film" %}
                    {% include "components/stat_card.html" %}
                </div>
                <div class="col-md-6">
                    {% set title = "TV Shows" %}
                    {% set value = content.tv %}
                    {% set icon = "bi-tv" %}
                    {% include "components/stat_card.html" %}
                </div>
                <div class="col-md-6">
                    {% set title = "Books" %}
                    {% set value = content.books %}
                    {% set icon = "bi-book" %}
                    {% include "components/stat_card.html" %}
                </div>
                <div class="col-md-6">
                    {% set title = "Completed" %}
                    {% set value = content.completed %}
                    {% set icon = "bi-check-circle" %}
                    {% include "components/stat_card.html" %}
                </div>
                <div class="col-md-6">
                    {% set title = "In Progress" %}
                    {% set value = content.ongoing %}
                    {% set icon = "bi-hourglass-split" %}
                    {% include "components/stat_card.html" %}
                </div>

            </div>
        </div>
    </main>
{% endblock %}